name: Matrix Demo
on: push
jobs:
  build:
    strategy:
      matrix:
        node-versions: [12, 16, 18]
        operating-systems: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.operating-systems}}
    steps:
      - name: Get code
        uses: actions/checkout
      - name: Install NodeJS
        uses: actions/setup-node
        with:
          node-version: ${{ matrix.node-versions }}
      - name: Install dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
