name: Matrix Demo
on: push
jobs:
  build:
    continue-on-error: true
    strategy:
      matrix:
        node-versions: [12, 16, 18]
        operating-systems: [ubuntu-latest, windows-latest]
      include:
        - node-versions: 18
          operating-systems: ubuntu-latest
      exclude:
        - node-versions: 12
          operating-systems: windows-latest
    runs-on: ${{ matrix.operating-systems}}
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-versions }}
      - name: Install dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
